html, body {
  height: 100%;
  max-width: 100%;
  margin: auto;
  margin: 0 0 0px;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}

.container	{
	max-width: 100%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  max-width: 100%;
  /* Negative indent footer by its height */
  margin: 0 0 0px;
  margin-left: auto;
  margin-right: auto;
  /* Pad bottom by footer height */
  padding: 0 0 0px;
}

body	{
	background: radial-gradient(#e7a049,#ed7129);
	color: #FFFFFF;
}

header	{
	background: #2e2e2e;
	color: #ea8939;
	height: 150px;
	max-width: 100%;
}

#entete	{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 101px;
	max-width: 100%;
}

#message {
  padding: 1em 1em 1em 1em;
}

a {
	color: #2e2e2e;
}

p	{
	text-align: justify;
	font-size: 17px;
}

#lien	{
	color: #FFFFFF;
}

.bouton	{
	text-align: center;
}

.btn {
	background: #87CEFA;
	color: #2e2e2e;
}

.centre	{
	text-align: center;
}

#text	{
	font-size: 10px;
	text-align: center;
}
