/htdocs/beta/config/development.php
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.buildpath
/.settings/org.eclipse.php.core.prefs
/.project

htdocs/config/development.php

htdocs/-FProjet

htdocs/test.php

htdocs/.htaccess
