ErrorDocument  404  ./?id=404
	                         AddDefaultCharset iso-8859-1
	                         RewriteEngine on
	                        RewriteRule / controller/base.php?controller=frankiz&action=login&%{QUERY_STRING} [L]
    RewriteRule /frankiz controller/base.php?controller=frankiz&action=login&%{QUERY_STRING} [L]
    RewriteRule /frankiz/login controller/base.php?controller=frankiz&action=login&%{QUERY_STRING} [L]
    RewriteRule /frankiz/logout controller/base.php?controller=frankiz&action=logout&%{QUERY_STRING} [L]
    RewriteRule /frankiz/home controller/base.php?controller=frankiz&action=home&%{QUERY_STRING} [L]
    RewriteRule /binet controller/base.php?controller=binet&action=index&%{QUERY_STRING} [L]
    RewriteRule /binet/index controller/base.php?controller=binet&action=index&%{QUERY_STRING} [L]
    RewriteRule /binet/new controller/base.php?controller=binet&action=new&%{QUERY_STRING} [L]
    RewriteRule /binet/create controller/base.php?controller=binet&action=create&%{QUERY_STRING} [L]
    RewriteRule /binet/admin controller/base.php?controller=binet&action=admin&%{QUERY_STRING} [L]
    RewriteRule /binet/([0-9]+)/show controller/base.php?controller=binet&action=show&binet=$1&%{QUERY_STRING} [L]
    RewriteRule /binet/([0-9]+)/edit controller/base.php?controller=binet&action=edit&binet=$1&%{QUERY_STRING} [L]
    RewriteRule /binet/([0-9]+)/update controller/base.php?controller=binet&action=update&binet=$1&%{QUERY_STRING} [L]
    RewriteRule /binet/([0-9]+)/set_subsidy_provider controller/base.php?controller=binet&action=set_subsidy_provider&binet=$1&%{QUERY_STRING} [L]
    RewriteRule /binet/([0-9]+)/change_term controller/base.php?controller=binet&action=change_term&binet=$1&%{QUERY_STRING} [L]
    RewriteRule /binet/([0-9]+)/deactivate controller/base.php?controller=binet&action=deactivate&binet=$1&%{QUERY_STRING} [L]
    RewriteRule /binet/([0-9]+)/validation controller/base.php?controller=binet&action=validation&binet=$1&%{QUERY_STRING} [L]
    RewriteRule /operation controller/base.php?controller=operation&action=index&%{QUERY_STRING} [L]
    RewriteRule /operation/index controller/base.php?controller=operation&action=index&%{QUERY_STRING} [L]
    RewriteRule /operation/new controller/base.php?controller=operation&action=new&%{QUERY_STRING} [L]
    RewriteRule /operation/create controller/base.php?controller=operation&action=create&%{QUERY_STRING} [L]
    RewriteRule /operation/([0-9]+)/show controller/base.php?controller=operation&action=show&operation=$1&%{QUERY_STRING} [L]
    RewriteRule /operation/([0-9]+)/edit controller/base.php?controller=operation&action=edit&operation=$1&%{QUERY_STRING} [L]
    RewriteRule /operation/([0-9]+)/update controller/base.php?controller=operation&action=update&operation=$1&%{QUERY_STRING} [L]
    RewriteRule /operation/([0-9]+)/validate controller/base.php?controller=operation&action=validate&operation=$1&%{QUERY_STRING} [L]
    RewriteRule /operation/([0-9]+)/reject controller/base.php?controller=operation&action=reject&operation=$1&%{QUERY_STRING} [L]
    RewriteRule /tag controller/base.php?controller=tag&action=index&%{QUERY_STRING} [L]
    RewriteRule /tag/index controller/base.php?controller=tag&action=index&%{QUERY_STRING} [L]
    RewriteRule /tag/create controller/base.php?controller=tag&action=create&%{QUERY_STRING} [L]
    RewriteRule /tag/([0-9]+)/show controller/base.php?controller=tag&action=show&tag=$1&%{QUERY_STRING} [L]
    RewriteRule /wave controller/base.php?controller=wave&action=index&%{QUERY_STRING} [L]
    RewriteRule /wave/index controller/base.php?controller=wave&action=index&%{QUERY_STRING} [L]
    RewriteRule /wave/([0-9]+)/show controller/base.php?controller=wave&action=show&wave=$1&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/admin controller/base.php?controller=admin&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/admin/index controller/base.php?controller=admin&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/admin/new controller/base.php?controller=admin&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/admin/create controller/base.php?controller=admin&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/admin/([0-9]+)/delete controller/base.php?controller=admin&prefix=binet&action=delete&binet=$1&term=$2&admin=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/budget controller/base.php?controller=budget&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/budget/index controller/base.php?controller=budget&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/budget/new controller/base.php?controller=budget&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/budget/create controller/base.php?controller=budget&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/show controller/base.php?controller=budget&prefix=binet&action=show&binet=$1&term=$2&budget=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/edit controller/base.php?controller=budget&prefix=binet&action=edit&binet=$1&term=$2&budget=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/update controller/base.php?controller=budget&prefix=binet&action=update&binet=$1&term=$2&budget=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/delete controller/base.php?controller=budget&prefix=binet&action=delete&binet=$1&term=$2&budget=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation controller/base.php?controller=operation&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation/index controller/base.php?controller=operation&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation/new controller/base.php?controller=operation&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation/create controller/base.php?controller=operation&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/show controller/base.php?controller=operation&prefix=binet&action=show&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/edit controller/base.php?controller=operation&prefix=binet&action=edit&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/update controller/base.php?controller=operation&prefix=binet&action=update&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/delete controller/base.php?controller=operation&prefix=binet&action=delete&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/validate controller/base.php?controller=operation&prefix=binet&action=validate&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request controller/base.php?controller=request&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request/index controller/base.php?controller=request&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request/new controller/base.php?controller=request&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request/create controller/base.php?controller=request&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/show controller/base.php?controller=request&prefix=binet&action=show&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/edit controller/base.php?controller=request&prefix=binet&action=edit&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/update controller/base.php?controller=request&prefix=binet&action=update&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/delete controller/base.php?controller=request&prefix=binet&action=delete&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/send controller/base.php?controller=request&prefix=binet&action=send&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/wave controller/base.php?controller=wave&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/wave/index controller/base.php?controller=wave&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/wave/new controller/base.php?controller=wave&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/wave/create controller/base.php?controller=wave&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/show controller/base.php?controller=wave&prefix=binet&action=show&binet=$1&term=$2&wave=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/edit controller/base.php?controller=wave&prefix=binet&action=edit&binet=$1&term=$2&wave=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/update controller/base.php?controller=wave&prefix=binet&action=update&binet=$1&term=$2&wave=$3&%{QUERY_STRING} [L]
    RewriteRule binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/publish controller/base.php?controller=wave&prefix=binet&action=publish&binet=$1&term=$2&wave=$3&%{QUERY_STRING} [L]
    