/* COMMENT : ce code va sûrement bouger, certaines parties seront placées
dans user-home.css quand la totalité du site aura le même "thème" */

@media( min-width:543px){
  #wrapper {
    padding-left:5px;
  }

  #home-wrapper {
    width: 543px;
  }

  #page-wrapper {
    background-color: rgba(0,0,0,0.0);
  }
}

#home-wrapper {
  padding: 5px;
  margin : auto ;
}

a {
  text-decoration:none;
}

/*---------------------------------------------------------------------*/
  #mybinets {
    text-align:center;
    margin-bottom:30px;
  }

.spot {
  position:relative;
  width : 130px;
  height: 130px;
  border-radius: 75px;
  display: inline-block;
  background-color:#3e3e3e;
  color:#cbddff;
  margin :20px;
  margin-bottom: 5px;
}

.spot:hover {
  background-color:#2e2e3e;
}

.spot>img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.binet-name {
  display:block;
  position:absolute;
  width:120px;
  height:60px;
  overflow:hidden;
  margin:auto;
  text-align:center;
  font-weight:900;
  top:35px;
  left:5px;
}
.binet-term {
  position:absolute;
  display:block;
  width:40px;
  text-align:center;
  margin:auto;
  top:95px;
  left:45px;
  border-top:2px solid #cbddff;
}

#homelinks {
  display:table;
  margin:5px;
  margin-top:10px;
  height: 30px;
  background-color:#cbddff;
}

.homelink-container {
  text-align:center;
  vertical-align:middle;
  width:50%;
  display:table-cell;
  padding:10px;
}
.homelink-container:hover{
  background-color:#baccff;
}

.homelink {
  height:100%;
  width:100%;
  text-align:center;
  font-size:20px;
}


#subsidies {
  display:inline-block;
  height:100%;
}

#binets {
  display:inline-block;
  height:100%;
}
