/* -- Wrapper --*/
#public-index-wrapper, #index-wrapper {
  position: relative;
  width:auto;
  margin: auto;
  color: #2e2e2e;
  padding-top:65px;
}

@media(min-width:768px){
  #public-index-wrapper, #index-wrapper {
    margin-top:0px;
    width:768px;
    padding-top:155px;
  }

  #index-wrapper {
    padding-top:0px;
  }
}

/*------ Action header ----------*/
#action-header{
  text-decoration:none;
  position:fixed;
  top:105px;
  display:block;
  height:auto;
  width:100%;
  background-color:#2e2e2e;
  color:#cbddff;
  margin:5px;
  padding-bottom:40px;
}

#action-title {
  margin:20px;
  margin-top:5px;
  text-align:center;
  font-size:20px;
}

.searchbar{
  position:absolute;
  width:100%;
  padding-left:80px;
  padding-right:80px;
}
.searchbar>i{
  padding-top:5px;
  float:right;
  color:#1566cc;
  width:10%;
}
.alpha-selecter {
  position:absolute;
  width:100%;
  text-align:center;
  bottom:10px;
  font-size:20px;
}

.alpha-selecter > a {
  padding:5px;
  padding-bottom:0px;
  bottom:0px;
  font-size:20px;
  text-decoration:none;
  color:#3399FF;
  border-bottom:2px solid #3399FF;
}
.alpha-selecter > a:hover {
  color:#1566cc;
  border-bottom:2px solid #1566cc;
}

@media(min-width:768px){
  #action-header{
    width:758px;
    height:150px;
    top:55px;
  }
  #action-title {
    font-size:30px;
  }
}

/*------ List objects --------*/
.list {
  margin-left:-40px;
}
.content-line-panel{
  display:block;
  margin:5px;
  margin-right:0px;
}

.clickable-main{
  display:table;
  min-height:30px;
  width:100%;
  background-color:#cbddff;
  text-decoration:none;
  color:#2e2e2e;
}

@media(min-width:768px){
  .clickable-main{
    width:758px;
  }
  .content-line-panel{
    margin-right:-70px;
  }
}

.clickable-main:hover{
  background-color:#baccff;;
}

.clickable-main>span{
  vertical-align:middle;
  text-align:center;
}
.clickable-main>i{
  vertical-align:middle;
  display:table-cell;
  padding-left:15px;
  padding-right:15px;
}
.name {
  display:table-cell;
  font-size:15px;
  padding:5px;
  text-decoration:none;
  height:20px;
}

.state {
  display:table-cell;
  font-size:13px;
  width:120px;
}

.dates, .users {
  display:table-cell;
}
.users {
  width:200px;
}
.dates{
  width:150px;
}
.dates>.top , .dates>.bottom {
  text-align:center;
  display:block;
  height:25px;
}

.post-operation{
  display:table-cell;
  text-align:center;
  font-size:20px;
  width:50px;
}
.post-operation>a{
  text-decoration:none;
  color:#52CC29;
}

.amount {
  display:table-cell;
  vertical-align:middle;
  padding:5px;
  width:100px;
  border-left:1px solid rgba(0,0,0,0.4);
}
.content-line-panel>.actions {
  position:absolute;
  left:25px;
  bottom:0px;
}

@media(min-width:768px){
  .content-line-panel>.actions {
    position:relative;
    display:inline;
    float:right;
    width:50px;
    height:50px;
    margin-top:-50px;
    visibility:hidden;
  }
}
.content-line-panel:hover>.actions {
  visibility:visible;
}

.content-line-panel-small {
  display:block;
  margin:5px;
  margin-right:-70px;
  font-size:15px;
}

.content-line-panel-small>.clickable-main{
  height:30px;
  width:534px;;
}

.content-line-panel-small>.clickable-main>.name{
  font-size:15px;
}

.content-line-panel-small>.clickable-main>.state {
  font-size:14px;
  width:90px;
}

.content-line-panel-small>.clickable-main>.dates {
  font-size:12px;
  width:30px;
}

/* Operation & Budget index */

#controlbar{
  margin-bottom:10px;
}

#transfer_budgets {
  display:inline-block;
  float:right;
  margin-right:25px;
}
#choose-term {
  padding:7px;
}

input.search {
  margin : 10px;
}
