ErrorDocument  404  ./index.php?controller=error&action=404
	                         AddDefaultCharset iso-8859-1
	                         RewriteEngine on
                           RewriteRule ^(.*[^/])$ $1/
	                        RewriteRule ^$ ./index.php?controller=home&action=welcome&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/$ ./index.php?controller=home&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/index/$ ./index.php?controller=home&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/login/$ ./index.php?controller=home&action=login&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/logout/$ ./index.php?controller=home&action=logout&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/welcome/$ ./index.php?controller=home&action=welcome&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/$ ./index.php?controller=binet&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/index/$ ./index.php?controller=binet&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/new/$ ./index.php?controller=binet&action=new&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/create/$ ./index.php?controller=binet&action=create&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/admin/$ ./index.php?controller=binet&action=admin&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([0-9]+)/show/$ ./index.php?controller=binet&action=show&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([0-9]+)/edit/$ ./index.php?controller=binet&action=edit&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([0-9]+)/update/$ ./index.php?controller=binet&action=update&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([0-9]+)/set_subsidy_provider/$ ./index.php?controller=binet&action=set_subsidy_provider&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([0-9]+)/change_term/$ ./index.php?controller=binet&action=change_term&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([0-9]+)/set_term/$ ./index.php?controller=binet&action=set_term&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([0-9]+)/deactivate/$ ./index.php?controller=binet&action=deactivate&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([0-9]+)/validation/$ ./index.php?controller=binet&action=validation&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/$ ./index.php?controller=operation&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/index/$ ./index.php?controller=operation&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/new/$ ./index.php?controller=operation&action=new&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/create/$ ./index.php?controller=operation&action=create&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/new_expense/$ ./index.php?controller=operation&action=new_expense&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/new_income/$ ./index.php?controller=operation&action=new_income&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/([0-9]+)/show/$ ./index.php?controller=operation&action=show&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/([0-9]+)/edit/$ ./index.php?controller=operation&action=edit&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/([0-9]+)/update/$ ./index.php?controller=operation&action=update&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/([0-9]+)/validate/$ ./index.php?controller=operation&action=validate&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^operation/([0-9]+)/reject/$ ./index.php?controller=operation&action=reject&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^tag/$ ./index.php?controller=tag&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^tag/index/$ ./index.php?controller=tag&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^tag/new/$ ./index.php?controller=tag&action=new&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^tag/create/$ ./index.php?controller=tag&action=create&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^tag/([0-9]+)/show/$ ./index.php?controller=tag&action=show&tag=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^wave/$ ./index.php?controller=wave&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^wave/index/$ ./index.php?controller=wave&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^wave/([0-9]+)/show/$ ./index.php?controller=wave&action=show&wave=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/admin/$ ./index.php?controller=admin&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/admin/index/$ ./index.php?controller=admin&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/admin/new/$ ./index.php?controller=admin&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/admin/create/$ ./index.php?controller=admin&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/admin/([0-9]+)/delete/$ ./index.php?controller=admin&prefix=binet&action=delete&binet=$1&term=$2&admin=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/$ ./index.php?controller=budget&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/index/$ ./index.php?controller=budget&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/new/$ ./index.php?controller=budget&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/create/$ ./index.php?controller=budget&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/new_expense/$ ./index.php?controller=budget&prefix=binet&action=new_expense&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/new_income/$ ./index.php?controller=budget&prefix=binet&action=new_income&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/show/$ ./index.php?controller=budget&prefix=binet&action=show&binet=$1&term=$2&budget=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/edit/$ ./index.php?controller=budget&prefix=binet&action=edit&binet=$1&term=$2&budget=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/update/$ ./index.php?controller=budget&prefix=binet&action=update&binet=$1&term=$2&budget=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/delete/$ ./index.php?controller=budget&prefix=binet&action=delete&binet=$1&term=$2&budget=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/$ ./index.php?controller=operation&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/index/$ ./index.php?controller=operation&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/new/$ ./index.php?controller=operation&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/create/$ ./index.php?controller=operation&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/new_expense/$ ./index.php?controller=operation&prefix=binet&action=new_expense&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/new_income/$ ./index.php?controller=operation&prefix=binet&action=new_income&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/show/$ ./index.php?controller=operation&prefix=binet&action=show&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/edit/$ ./index.php?controller=operation&prefix=binet&action=edit&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/update/$ ./index.php?controller=operation&prefix=binet&action=update&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/delete/$ ./index.php?controller=operation&prefix=binet&action=delete&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/validate/$ ./index.php?controller=operation&prefix=binet&action=validate&binet=$1&term=$2&operation=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/$ ./index.php?controller=request&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/index/$ ./index.php?controller=request&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/new/$ ./index.php?controller=request&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/create/$ ./index.php?controller=request&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/show/$ ./index.php?controller=request&prefix=binet&action=show&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/edit/$ ./index.php?controller=request&prefix=binet&action=edit&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/update/$ ./index.php?controller=request&prefix=binet&action=update&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/delete/$ ./index.php?controller=request&prefix=binet&action=delete&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/send/$ ./index.php?controller=request&prefix=binet&action=send&binet=$1&term=$2&request=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/wave/$ ./index.php?controller=wave&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/wave/index/$ ./index.php?controller=wave&prefix=binet&action=index&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/wave/new/$ ./index.php?controller=wave&prefix=binet&action=new&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/wave/create/$ ./index.php?controller=wave&prefix=binet&action=create&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/show/$ ./index.php?controller=wave&prefix=binet&action=show&binet=$1&term=$2&wave=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/edit/$ ./index.php?controller=wave&prefix=binet&action=edit&binet=$1&term=$2&wave=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/update/$ ./index.php?controller=wave&prefix=binet&action=update&binet=$1&term=$2&wave=$3&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/publish/$ ./index.php?controller=wave&prefix=binet&action=publish&binet=$1&term=$2&wave=$3&%{QUERY_STRING} [L,NC,QSA]
    