
      ErrorDocument  404  /beta/index.php?controller=error&action=400&
	    AddDefaultCharset UTF-8
	    RewriteEngine on
	    RewriteRule ^beta/?$ ./beta/index.php?controller=home&action=welcome&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/login/?$ ./beta/index.php?controller=home&action=login&%{QUERY_STRING} [NC,QSA]
    RewriteRule ^beta/home/?$ ./beta/index.php?controller=home&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/home/index/?$ ./beta/index.php?controller=home&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/home/login/?$ ./beta/index.php?controller=home&action=login&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/home/logout/?$ ./beta/index.php?controller=home&action=logout&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/home/welcome/?$ ./beta/index.php?controller=home&action=welcome&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/home/chose_identity/?$ ./beta/index.php?controller=home&action=chose_identity&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/home/bug_report/?$ ./beta/index.php?controller=home&action=bug_report&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/?$ ./beta/index.php?controller=binet&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/index/?$ ./beta/index.php?controller=binet&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/new/?$ ./beta/index.php?controller=binet&action=new&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/create/?$ ./beta/index.php?controller=binet&action=create&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([0-9]+)/show/?$ ./beta/index.php?controller=binet&action=show&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([0-9]+)/edit/?$ ./beta/index.php?controller=binet&action=edit&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([0-9]+)/update/?$ ./beta/index.php?controller=binet&action=update&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([0-9]+)/switch_subsidy_provider/?$ ./beta/index.php?controller=binet&action=switch_subsidy_provider&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([0-9]+)/change_term/?$ ./beta/index.php?controller=binet&action=change_term&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([0-9]+)/power_transfer/?$ ./beta/index.php?controller=binet&action=power_transfer&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([0-9]+)/reactivate/?$ ./beta/index.php?controller=binet&action=reactivate&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([0-9]+)/deactivate/?$ ./beta/index.php?controller=binet&action=deactivate&binet=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/?$ ./beta/index.php?controller=operation&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/index/?$ ./beta/index.php?controller=operation&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/new/?$ ./beta/index.php?controller=operation&action=new&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/create/?$ ./beta/index.php?controller=operation&action=create&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/([0-9]+)/show/?$ ./beta/index.php?controller=operation&action=show&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/([0-9]+)/edit/?$ ./beta/index.php?controller=operation&action=edit&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/([0-9]+)/update/?$ ./beta/index.php?controller=operation&action=update&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/([0-9]+)/validate/?$ ./beta/index.php?controller=operation&action=validate&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/operation/([0-9]+)/reject/?$ ./beta/index.php?controller=operation&action=reject&operation=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/tag/?$ ./beta/index.php?controller=tag&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/tag/index/?$ ./beta/index.php?controller=tag&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/tag/new/?$ ./beta/index.php?controller=tag&action=new&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/tag/create/?$ ./beta/index.php?controller=tag&action=create&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/tag/([0-9]+)/show/?$ ./beta/index.php?controller=tag&action=show&tag=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/wave/?$ ./beta/index.php?controller=wave&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/wave/index/?$ ./beta/index.php?controller=wave&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/student/([0-9]+)/show/?$ ./beta/index.php?controller=student&action=show&student=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/?$ ./beta/index.php?controller=budget&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/admin/?$ ./beta/index.php?controller=admin&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/admin/index/?$ ./beta/index.php?controller=admin&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/admin/new/?$ ./beta/index.php?controller=admin&action=new&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/admin/create/?$ ./beta/index.php?controller=admin&action=create&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/admin/([0-9]+)/delete/?$ ./beta/index.php?controller=admin&action=delete&admin=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/?$ ./beta/index.php?controller=budget&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/index/?$ ./beta/index.php?controller=budget&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/new/?$ ./beta/index.php?controller=budget&action=new&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/create/?$ ./beta/index.php?controller=budget&action=create&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/transfer/?$ ./beta/index.php?controller=budget&action=transfer&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/copy/?$ ./beta/index.php?controller=budget&action=copy&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/show/?$ ./beta/index.php?controller=budget&action=show&budget=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/edit/?$ ./beta/index.php?controller=budget&action=edit&budget=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/update/?$ ./beta/index.php?controller=budget&action=update&budget=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/budget/([0-9]+)/delete/?$ ./beta/index.php?controller=budget&action=delete&budget=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/?$ ./beta/index.php?controller=operation&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/index/?$ ./beta/index.php?controller=operation&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/new/?$ ./beta/index.php?controller=operation&action=new&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/create/?$ ./beta/index.php?controller=operation&action=create&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/show/?$ ./beta/index.php?controller=operation&action=show&operation=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/edit/?$ ./beta/index.php?controller=operation&action=edit&operation=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/update/?$ ./beta/index.php?controller=operation&action=update&operation=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/delete/?$ ./beta/index.php?controller=operation&action=delete&operation=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/validate/?$ ./beta/index.php?controller=operation&action=validate&operation=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/operation/([0-9]+)/review/?$ ./beta/index.php?controller=operation&action=review&operation=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/?$ ./beta/index.php?controller=request&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/index/?$ ./beta/index.php?controller=request&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/new/?$ ./beta/index.php?controller=request&action=new&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/create/?$ ./beta/index.php?controller=request&action=create&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/show/?$ ./beta/index.php?controller=request&action=show&request=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/edit/?$ ./beta/index.php?controller=request&action=edit&request=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/update/?$ ./beta/index.php?controller=request&action=update&request=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/delete/?$ ./beta/index.php?controller=request&action=delete&request=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/send/?$ ./beta/index.php?controller=request&action=send&request=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/review/?$ ./beta/index.php?controller=request&action=review&request=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/grant/?$ ./beta/index.php?controller=request&action=grant&request=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/request/([0-9]+)/reject/?$ ./beta/index.php?controller=request&action=reject&request=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/validation/?$ ./beta/index.php?controller=validation&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/validation/index/?$ ./beta/index.php?controller=validation&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/?$ ./beta/index.php?controller=wave&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/index/?$ ./beta/index.php?controller=wave&action=index&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/new/?$ ./beta/index.php?controller=wave&action=new&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/create/?$ ./beta/index.php?controller=wave&action=create&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/show/?$ ./beta/index.php?controller=wave&action=show&wave=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/edit/?$ ./beta/index.php?controller=wave&action=edit&wave=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/update/?$ ./beta/index.php?controller=wave&action=update&wave=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/publish/?$ ./beta/index.php?controller=wave&action=publish&wave=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^beta/binet/([a-z-]+)/([0-9]+)/wave/([0-9]+)/open/?$ ./beta/index.php?controller=wave&action=open&wave=$3&prefix=binet&binet=$1&term=$2&%{QUERY_STRING} [L,NC,QSA]
    