ErrorDocument  404  ./index.php?controller=error&action=404
	                         AddDefaultCharset iso-8859-1
	                         RewriteEngine on
	                        RewriteRule ^$ ./index.php?controller=home&action=welcome&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/$ ./index.php?controller=home&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/index/$ ./index.php?controller=home&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/login/$ ./index.php?controller=home&action=login&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/logout/$ ./index.php?controller=home&action=logout&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^home/welcome/$ ./index.php?controller=home&action=welcome&%{QUERY_STRING} [L,NC,QSA]
    