/*--------------------------------------------------------------------------*/
/* Round buttons */
.round-button , .round-button-small {
  display:table;
  font-size: 30px;
}
.round-button>i , .round-button-small>i {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width:100%;
  height:100%;
}

@media(max-width:768px){
  .round-button {
    display:block;
    width: 30px;
    height:30px;
    padding:7px;
    padding-left:7px;
    font-size:15px;
    margin: 1.2%;
  }

  .round-button:hover{
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
  }

  .round-button>.olabel{
    visibility: hidden;
    display: inline-block;
    width: 0px;
    height: 0px;
    font-size:20px;
  }

  .round-button-small{
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align:center;
    font-size:13px;
  }

  .round-button-small>.olabel{
    position: absolute;
    visibility: hidden;
  }
}

@media(min-width: 768px){
  .round-button {
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align:center;
  }

  .round-button-small{
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align:center;
    font-size:13px;
  }

  .round-button>.anim , .round-button-small>.anim{
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transition-property: transform;
    transform: rotate(0deg);
  }
  .round-button>.olabel , .round-button-small>.olabel{
    display:block;
    max-width:150px;
    color:#2e2e2e;
    position: absolute;
    visibility: hidden;
    transition-timing-function: linear;
    transition-duration: 0.25s;
    transition-property: visibility;
  }

  .round-button>.olabel {
    font-size:20px;
  }
  .round-button>.right {
    margin-left: 30px;
  }
  .round-button>.left {
    margin-left:-200px;
  }

  .round-button-small>.olabel{
    font-size:12px;
    background-color:rgba(255,255,255,0.7);
  }
  .round-button-small>.right{
    margin-left: 20px;
  }
  .round-button-small>.left{
    margin-left: -170px;
  }

  .round-button:hover>.anim,.round-button-small:hover>.anim{
    transform: rotate(30deg);
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
    cursor : pointer;
  }
  .round-button:hover>.olabel{
    visibility: visible;
  }
  .round-button-small:hover>.olabel{
    visibility: visible;
  }
}

/* Bootstrap buttons modifications */

.btn {
  border-radius :0px;
  border:none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.25);
  background-color: #3399FF;
  color:#fff;
  font-weight:700;
}

.btn:hover{
  background-color:#1565C0;
  color:#fff;
}

.btn-danger{
  background-color:#D32F2F;
}

.btn-danger:hover{
  background-color:#B71C1C;
}

.btn-success{
  background-color:rgb(50, 173, 39);
}

.btn-success:hover{
  background-color:#388E3C;
}

.btn-discrete{
  background-color: rgba(0,0,0,0.25);
}

.btn-discrete:hover{
  background-color: rgba(0,0,0,0.5);
}
