/*-------------------------------------------------------------------*/
/* Flash-cards */
.alert {
  border-radius: 0px;
}

/* Warning */
/* Clear previous CSS "close" properties from boostrap */
.close {
  all : none ;
}

.flash-container{
  position: fixed;
  right: 5px;
  z-index: 100;
}

.flashcard {
  position:relative;
  width: 250px;
  overflow: hidden;
  padding: 10px;
  line-height:16px;
  font-size:16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.flashcard> button {
  margin-right: 20px;
  display: block;
  position: relative;
}

.flashcard> a{
  text-decoration:underline;
  color:#2e2e2e;
}
.notice {
  background-color: #66BB6A;
  color : #000;
}
.error {
  background-color: #EF5350;
  color : #000;
}
.warning {
  background-color: #FFCA28;
  color : #000;
}

.news {
  background-color: #cbddff;
}

.news>h1 {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: 20px;
}
.news>p {
}

.news>.controls {
  font-size: 20px;
  height: 30px;
  padding: 2px;
}

.news>.controls>.ctrl {
  width: auto;
  padding: 5px;
  border-radius: 2px;
  margin-right: 10px;
}

/* TODO :améliorer le comportement des boutons : mauvais fonctionnement */
.news>.controls>.ctrl>.which-action {
  display: inline-block;
  visibility: hidden;
  width: 1px;
  transition-delay: 0.5s;
  transition-property: width;
  transition-timing-function: ease-in;
}
.news>.controls>.ctrl:hover {
  background-color: #3399ff;
}
.news>.controls>.ctrl>bt:hover && .which-action {
  visibility: visible;
  width:auto;
}
