.title:hover{
  background-color:#1e1e1e;
  color:#fff;
}

.title>span {
  font-size:10px;
  margin:5px;
  float:right;
  visibility:hidden;
}
.title:hover>span{
  visibility:visible;
}
.content>.infos {
  display:inline-block;
  width:70%;
}
.amount-requested {
  display:inline-block;
  padding:5px;
  font-size:30px;
  border-right: 1px solid rgba(0,0,0,0.15);
}
.budget-summary {
  display:inline-block;
  padding:5px;
  font-size:15px;
  height:100%;
  border-right: 1px solid rgba(0,0,0,0.15);
}
.minititle {
  display:block;
  font-size:10px;
  background-color:#2e2e2e;
  color:#cbddff;
  padding:2px;
  width:100%;
}
.budget-summary>span {
  display:block;
  font-size:10px;
  padding:2px;
  width:100%;
}
.content>.granted-amount {
  display:inline-block;
  width:29%;
}
.content>.granted-amount>.form-group {
  margin-bottom:5px;
}
.content>.purpose {
  width:100%;
  padding:5px;
}
.content>.granted-amount>.form-group> label {
  font-size:1em;
  font-weight:500;
}
.sh-bin-stats:hover{
  -webkit-filter:brightness(0.7);
}
.sh-bin-stats>.message{
  color:#fff;
  position:absolute;
  top:40px;
  left:100px;
  margin:auto;
  background-color:#2e2e2e;
  padding:5px;
  border-radius:4px;
  z-index:1000;
  visibility:hidden;
}
.sh-bin-stats:hover>.message{
  visibility : visible;
}
#granted {
  left:1%;
  top:5px;
  height:40px;
  width:48%;
  background-color:#AA00FF;
}

#used {
  left:51%;
  top:5px;
  height:40px;
  width:48%;
  background-color:#3E2723;
}

#wave-owner-subsidy{
  height:50px;
}

#current-term {
  height:115px;
}

#previous-term {
  height:115px;
  -webkit-filter: sepia(0.6);
}

.panel>.content {
  position:relative;
}
