.show-container {
  position: relative;
  width:auto;
  margin: auto;
  color: #2e2e2e;
}

.show-container>.round-button {
  position:absolute;
  left:-120px;
}
.sh-title {
  margin: 5px;
  background-color: #cbddff;
}

.sh-title>.logo {
  padding: 30px;
  display: inline-block;
  width:130px;
  vertical-align: text-bottom;
}

.sh-title>.text {
  display: inline-block;
}

.sh-title>.text>.main {
  font-size: 30px;
  display: block;
  padding: 5px;
  /*Limit size*/
  overflow: hidden;
  max-width: 240px;
}
.sh-title>.text>.main>a {
  text-decoration:none;
}
.sh-title>.text>.sub {
  display: block;
  padding: 5px;
  overflow: hidden;
  max-width:240px;
  text-decoration:none;
}

.sh-block-normal {
  padding:10px;
  margin: 5px;
  background-color: #cbddff;
  color:#2e2e2e;
}


@media(min-width:543px){
  .show-container {
    position: relative;
    width:543px;
    margin: auto;
  }

  #page-wrapper {
    background-color: rgba(0,0,0,0.0);
  }

  .sh-title>.text>.main {
    max-width: 384px;
  }
  .sh-title>.text>.sub {
    max-width: 384px;
  }
}

.sh-piechart-panel {
  margin: 5px;
  margin-top: 10px;
  padding: 15px;
  background-color: #cbddff ;
  font-size: 15px;
}


/*------------------------------------------------------------------------*/
/* Display information about current show : recette, dépense, accepté, etc.. */
.sh-plus {
  margin: 5px;
  height: 45px;
  padding: 5px;
  font-size: 25px;
}

}
@media(max-width:850px){
  .sh-plus>.text {
    display: inline-block;
  }
}

@media(min-width:850px){
  .sh-plus {
    z-index: 10;
    float: left;
    position: absolute;
    left: -50px;
    width: 45px;
    height: 240px;
    margin: 0px;
  }
  .sh-plus>.text {
    display: block;
    width: 240px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: left top 0 ;
    -ms-transform-origin: left top 0 ;
    -moz-transform-origin: left top 0 ;
    transform-origin: left top 0 ;
    position: absolute;
    top : 240px;
    padding: 5px;
  }
}

/*------------------------------------------------------------------------*/
/* Actions on show */
.sh-actions {
  width: auto;
  margin: 5px;
}

@media(min-width: 900px){
  .sh-actions {
    width: 50px;
    float: right;
    right: -80px;
    position: absolute;
  }
}


/*-----------------------------------------------------------------------*/
/* ------  Binet specific classes -----------*/

#choose-term{
  padding:5px;
  border-radius:5px;
  text-align:center;
  margin-bottom:5px;
}
#choose-term:hover{
  background-color:#64B5F6;
}

.sh-bin-eye {
  position:absolute;
  width:50px;
  height:50px;
  overflow:hidden;
  top:5px;
  right:10px;
  color:#000;
  margin:5px;
  padding:5px;
  padding-right:10px;
  border-radius:5px;
  -webkit-transition: width 0.2s, background-color 0.2s;
  transition: width 0.2s , background-color 0.2s;
}
.sh-bin-eye:hover {
  background-color:#64B5F6;
  width:auto;
}
.sh-bin-eye>span{
  font-size:10px;
  color:#2e2e2e;
}

.sh-bin-admins {
  position:relative;
  margin:5px;
  width:533px;
  background-color:#cbddff;
}
.sh-bin-admins>.title {
  display:block;
  height:30px;
  padding:5px;
  width:100%;
  background-color:#2e2e2e;
  color:#cbddff;
  font-size:15px;
  font-weight:500;
}
.sh-bin-admins>.admin {
  position:relative;
  display:inline-block;
  margin:5px;
  width:200px;
  min-height:30px;
  padding:5px;
  text-align:center;
  background-color:#2e2e2e;
  color:#1566cc;
}
.sh-bin-admins>.admin:hover {
  background-color:#202020;
}

.sh-bin-admins>.admin>.logo{
  position:absolute;
  left:20px;
  top:10px;
}
.sh-bin-admins>.admin>.fa-user {
  visibility:visible;
}
.sh-bin-admins>.admin:hover>.fa-user {
  visibility:hidden;
}
.sh-bin-admins>.admin>.fa-send {
  visibility:hidden;
}
.sh-bin-admins>.admin:hover>.fa-send {
  visibility:visible;
}

.sh-bin-admins>.admin>a{
  text-decoration:none;
}

.sh-bin-admins>.add{
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  width:10px;
  padding-top:20px;
}
.sh-bin-resume {
  margin:5px;
  padding-bottom:10px;
}
.sh-bin-resume>.title {
  background-color:#2e2e2e;
  color:#cbddff;
  width:100%;
  padding-left:5px;
  height:20px;
}

.sh-bin-stats{
  margin:5px;
  position:relative;
  padding:5px;
  height:115px;
  font-size:20px;
}
.sh-bin-stats-std{
  margin:5px;
  position:relative;
  padding:5px;
  height:60px;
  font-size:20px;
}

.minipane {
  padding:10px;
  padding-top:15px;
  text-align:center;
  position:absolute;
  font-weight:700;
  color:#fff;
}
.minipane>span {
  font-size:10px;
}
.minipane>.title {
  position:absolute;
  font-size:10px;
  top:0px;
  left:0px;
  width:100%;
  background-color:#2e2e2e;
  color:#cbddff;
  font-weight:500;
}
#spending {
  left:210px;
  top:5px;
  height:50px;
  width:200px;
  background-color:#C51162;
}
#income {
  left:5px;
  top:5px;
  height:50px;
  width:200px;
  background-color:#4CAF50;
}

#balance {
  left:415px;
  top:5px;
  height:105px;
  width:115px;
  background-color:#2196F3;
}
#subsidies_granted {
  left:5px;
  top:60px;
  height:50px;
  width:200px;
  background-color:#AA00FF;
}
#subsidies_granted_std {
  left:5px;
  top:5px;
  height:50px;
  width:260px;
  background-color:#AA00FF;
}

#subsidies_used {
  left:210px;
  top:60px;
  height:50px;
  width:200px;
  background-color:#3E2723;
}
#subsidies_used_std {
  left:267px;
  top:5px;
  height:50px;
  width:260px;
  background-color:#3E2723;
}

.sh-bin-resume>.line {
  display:block;
  position:relative;
  height:20px;
  width:auto;
  border-bottom:1px solid rgba(0,0,0,0.2);
}
.sh-bin-resume>.line>.label {
  display:inline-block;
  margin-top:3px;
  color:#2e2e2e;
}
.sh-bin-resume>.line>.amount {
  font-size:15px;
  font-weight:800;
  color:#ff3d00;
  padding-bottom:5px;
  display:inline-block;
  position:absolute;
  right:20px;
  top:0px;
}
.sh-bin-resume>.line>.date {
  font-size:14px;
  font-weight:700;
  padding-bottom:5px;
  display:inline-block;
  position:absolute;
  width:100px;
}
.sh-bin-resume>.line>.submission {
  color:#AA00FF;
  right:120px;
  top:0px;
}
.sh-bin-resume>.line>.expiry {
  color:#ff3d00;
  right:20px;
  top:0px;
}

/*------------------------------------------------------------------------*/
/* Budget specific classes */

.sh-bu-ratio {
  display: table;
  height: 50px;
  font-size: 20px;
  width: 98%;
  margin: 5px;
  background-color:#cbddff;
}

.sh-bu-ratio>.header {
  text-indent: 15px;
  background-color: #2e2e2e;
  color: #cbddff;
}

.sh-bu-ratio>div>.used {
  display: inline-block ;
  text-align: center;
  background-color: #3399FF;
}
.sh-bu-tags {
  margin: 5px;
  padding: 10px;
  min-height: 30px;
  background-color: #cbddff ;
}


/*------------------------------------------------------------------------*/
/* Operation classes */

.sh-op-amount {
  margin:5px;
  height:100px;
  padding : 20px;
  background-color: #3399FF;
  /* Text properties */
  font-size: 40px;
  text-align: center;
  overflow: hidden;
}

.sh-op-refs {
  margin: 5px;
  height: 100px;
  padding: 25px;
  background-color: #2e2e2e;
  /* Text properties */
  text-align: center;
  font-size: 13px;
  color:#cbddff;
  overflow: hidden;
}

.sh-op-info {
  height: auto;
  margin: 5px;
  margin-top: 0px;
  padding: 20px;
  background-color: #cbddff;
}

.sh-op-payer {
  min-height: 100px;
  margin: 5px;
  margin-top: 10px;
  padding: 15px;
  background-color: #3399FF ;
  text-align: center;
  font-size: 50px;
}

.sh-op-payer>a{
  text-decoration:none;
  color:#2e2e2e;
}

.sh-op-budgets , .sh-bu-operations {
  margin: 5px;
  margin-top: 10px;
  padding: 15px;
  background-color: #cbddff ;
  font-size: 50px;
}
.sh-op-budgets>a , .sh-bu-operations>a{
  text-decoration:none;
  font-size:15px;
  color:#2e2e2e;
}

@media( min-width:543px){
  .sh-op-amount {
    display:inline-block;
    width:289px;
  }

  .sh-op-refs {
    display: inline-block;
    width:230px;
  }
}

/*------------------------------------------------------------------------*/
/* Request classes */
.sh-req-dates {
  height: auto;
  margin: 5px;
  width: auto;
  font-size: 0px;
}

.sh-req-budget {
  display: table;
  height: 50px;
  font-size: 20px;
  width: 98%;
  margin: 5px;
  background-color:#cbddff;
}

.sh-req-budget>.header {
  background-color: #2e2e2e;
  color: #cbddff;
}


.sh-req-budget>.header>.name {
  display: inline-block;
  text-indent: 15px;
}

.sh-req-budget>.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.sh-req-budget>.content>.text {
  font-size:15px;
}

.sh-req-budget>.content>.amount {
  width:100%;
  text-indent: 10px;
  background-color: #3399FF;
}


@media( min-width:543px){
  .sh-req-title>.text>.binet-name {
    /*Limit size*/
    max-width: 384px;
    max-height: 70px;
  }
  .sh-req-title>.text>.wave-name {
    max-width: 384px;
    max-height: 50px;
  }

  .sh-req-budget {
    width:533px;
    margin:5px;
  }

  .sh-req-budget>.header {
    background-color: #2e2e2e;
    color: #cbddff;
    height:30px;
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s , background-color 0.2s;
  }
  .sh-req-budget>.header:hover {
    color: #3399FF;
    background-color: #3e3e3e;
  }
}


/*------------------------------------------------------------------------*/
/* Wave specific classes */

.sh-wa-dates {
  height: auto;
  margin: 5px;
  width: auto;
  font-size: 0px;
}

.sh-wa-dates>#submission-date {
  display: inline-block;
  width: 100%;
  height:70px;
  padding: 20px;
  background-color: #3399FF;
  text-align: center;
  font-size: 20px;
}

.sh-wa-dates>#validity-date {
  display: inline-block;
  width: 100%;
  height:70px;
  padding: 20px;
  background-color: #2e2e2e;
  text-align: center;
  font-size: 20px;
  color:#cbddff;
}

.sh-wa-request {
  display: table;;
  font-size: 15px;
  width: 98%;
  margin: 5px;
  background-color:#cbddff;
}
.sh-wa-request:hover{
  background-color:#baccdd;
}
.sh-wa-request>.marker{
  display:table-cell;
  width:5px;
}
.sh-wa-request>.icon {
  display: table-cell;
  width: 40px;
  font-size:20px;
  padding-left:15px;
  text-align: left;
  vertical-align: middle;
}
.sh-wa-request>.binet {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.sh-wa-request>.amount {
  display: table-cell;
  width: 100px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
.sh-wa-request>.binet> a {
  color:#2e2e2e;
  text-decoration:none;
}
.sh-wa-request>.binet> a:hover {
  color:#B71C1C;
}

#requests{
  position:relative;
  padding-top:55px;
}

.sh-wa-stats{
  position:absolute;
  top:0px;
  display:table;
  width:98%;
  margin:5px;
  background-color:#cbddff;
  height:50px;
}
.sh-wa-stats>.item {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  padding:5px;
  min-height:35px;
}


@media( min-width:543px){
  .sh-wa-dates> #submission-date {
    display: inline-block;
    height:90px;
    margin-right: 5px;
    width:49.5%;
  }

  .sh-wa-dates> #validity-date {
    display: inline-block;
    height:90px;
    width:49.5%;
  }

  .sh-wa-request {
    display:table;
    margin:5px;
  }
}
