.show-container {
  position: relative;
  width:auto;
  margin: auto;
  color: #2e2e2e;
}

.sh-title {
  height: 130px;
  margin: 5px;
  background-color: #cbddff;
}

.sh-title>.logo {
  padding: 30px;
  display: inline-block;
  width:130px;
  vertical-align: text-bottom;
}

.sh-title>.text {
  display: inline-block;
}

.sh-title>.text>.main {
  font-size: 30px;
  display: block;
  padding: 5px;
  /*Limit size*/
  overflow: hidden;
  max-width: 240px;
  max-height: 70px;
}
.sh-title>.text>.sub {
  display: block;
  padding: 5px;
  overflow: hidden;
  max-width:240px;
  max-height: 40px;
}


@media(min-width:543px){
  .show-container {
    position: relative;
    width:543px;
    margin: auto;
  }

  #page-wrapper {
    background-color: rgba(0,0,0,0.0);
  }

  .sh-title>.text>.main {
    max-width: 384px;
    max-height: 70px;
  }
  .sh-title>.text>.sub {
    max-width: 384px;
    max-height: 30px;
  }
}

/*------------------------------------------------------------------------*/
/* Display information about current show : recette, dépense, accepté, etc.. */
.sh-plus {
  margin: 5px;
  height: 45px;
  padding: 5px;
  font-size: 25px;
}

}
@media(max-width:850px){
  .sh-plus>.text {
    display: inline-block;
  }
}

@media(min-width:850px){
  .sh-plus {
    z-index: 10;
    float: left;
    position: absolute;
    left: -50px;
    width: 45px;
    height: 240px;
    margin: 0px;
  }
  .sh-plus>.text {
    display: block;
    width: 240px;
    transform: rotate(270deg);
    transform-origin: left top 0 ;
    position: absolute;
    top : 240px;
    padding: 5px;
  }
}

/*------------------------------------------------------------------------*/
/* Actions on show */
.sh-actions {
  width: auto;
  margin: 5px;
}

@media(min-width: 900px){
  .sh-actions {
    width: 50px;
    float: right;
    right: -60px;
    position: absolute;
  }
}

/*------------------------------------------------------------------------*/
/* Budget specific classes */

.sh-bu-ratio {
  display: table;
  height: 50px;
  font-size: 20px;
  width: 98%;
  margin: 5px;
  background-color:#cbddff;
}

.sh-bu-ratio>.header {
  text-indent: 15px;
  background-color: #2e2e2e;
  color: #cbddff;
}

.sh-bu-ratio>div>.used {
  display: inline-block ;
  text-align: center;
  background-color: #3399FF;
}
.sh-bu-tags {
  margin: 5px;
  padding: 10px;
  min-height: 30px;
  background-color: #cbddff ;
}

.sh-bu-operations {
    /* Property definitions in Operations classes */
}

/*------------------------------------------------------------------------*/
/* Operation classes */

.sh-op-amount {
  margin:5px;
  height:100px;
  padding : 20px;
  background-color: #3399FF;
  /* Text properties */
  font-size: 40px;
  text-align: center;
  overflow: hidden;
}

.sh-op-refs {
  margin: 5px;
  height: 100px;
  padding: 25px;
  background-color: #2e2e2e;
  /* Text properties */
  text-align: center;
  font-size: 15px;
  color:#cbddff;
  overflow: hidden;
}

.sh-op-info {
  height: auto;
  margin: 5px;
  margin-top: 0px;
  padding: 20px;
  background-color: #cbddff;
}

.sh-op-payer {
  min-height: 100px;
  margin: 5px;
  margin-top: 10px;
  padding: 15px;
  background-color: #3399FF ;
  text-align: center;
  font-size: 50px;
}

.sh-op-budgets , .sh-bu-operations {
  margin: 5px;
  margin-top: 10px;
  padding: 15px;
  background-color: #cbddff ;
  font-size: 50px;
}

@media( min-width:543px){
  .sh-op-amount {
    display:inline-block;
    width:289px;
  }

  .sh-op-refs {
    display: inline-block;
    width:230px;
  }
}

/*------------------------------------------------------------------------*/
/* Request classes */
.sh-req-dates {
  height: auto;
  margin: 5px;
  width: auto;
  font-size: 0px;
}

.sh-req-budget {
  display: table;
  height: 50px;
  font-size: 20px;
  width: 98%;
  margin: 5px;
  background-color:#cbddff;
}

.sh-req-budget>.header {
  background-color: #2e2e2e;
  color: #cbddff;
}


.sh-req-budget>.header>.name {
  display: inline-block;
  text-indent: 15px;
}

.sh-req-budget>.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.sh-req-budget>.content>.text {
  font-size:15px;
}

.sh-req-budget>.content>.amount {
  width:100%;
  text-indent: 10px;
  background-color: #3399FF;
}


@media( min-width:543px){
  .sh-req-title>.text>.binet-name {
    /*Limit size*/
    max-width: 384px;
    max-height: 70px;
  }
  .sh-req-title>.text>.wave-name {
    max-width: 384px;
    max-height: 50px;
  }

  .sh-req-budget {
    width:533px;
    margin:5px;
  }

  .sh-req-budget>.header {
    background-color: #2e2e2e;
    color: #cbddff;
    height:30px;
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s , background-color 0.2s;
  }
  .sh-req-budget>.header:hover {
    color: #3399FF;
    background-color: #3e3e3e;
  }
}


/*------------------------------------------------------------------------*/
/* Wave specific classes */

.sh-wa-dates {
  height: auto;
  margin: 5px;
  width: auto;
  font-size: 0px;
}

.sh-wa-dates>.submission-date {
  display: inline-block;
  width: 100%;
  height:70px;
  padding: 20px;
  background-color: #3399FF;
  text-align: center;
  font-size: 20px;
}

.sh-wa-dates>.validity-date {
  display: inline-block;
  width: 100%;
  height:70px;
  padding: 20px;
  background-color: #2e2e2e;
  text-align: center;
  font-size: 20px;
  color:#cbddff;
}

.sh-wa-request {
  display: table;
  height: 50px;
  font-size: 20px;
  width: 98%;
  margin: 5px;
  background-color:#cbddff;
}
.sh-wa-request>.icon {
  display: table-cell;
  width: 60px;
  font-size:15px;
  text-align: center;
  vertical-align: middle;
}
.sh-wa-request>.binet {
  display: table-cell;
  width: 60px;
  text-align: center;
  vertical-align: middle;
}
.sh-wa-request>.amount {
  display: table-cell;
  width: 70px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}


@media( min-width:543px){
  .sh-wa-title>.text>.binet-name {
    /*Limit size*/
    max-width: 384px;
    max-height: 70px;
  }
  .sh-wa-title>.text>.binet-year {
    max-width: 384px;
    max-height: 50px;
  }

  .sh-wa-dates>.submission-date {
    display: inline-block;
    height:90px;
    margin-right: 5px;
    width:49.5%;
  }

  .sh-wa-dates>.validity-date {
    display: inline-block;
    height:90px;
    width:49.5%;
  }

  .sh-wa-request {
    width:533px;
    margin:5px;
  }
}

/*-----------------------------------------------------------------------*/
/* ------  Binet specific classes -----------*/

.sh-bin-admins {
  position:relative;
  margin:5px;
  width:533px;
  background-color:#cbddff;
}
.sh-bin-admins>.admin {
  display:inline-block;
  margin:5px;
  width:200px;
  padding:5px;
  text-align:center;
  background-color:#2e2e2e;
  color:#1566cc;
}
.sh-bin-admins>.admin:hover {
  background-color:#202020;
}
.sh-bin-admins>.admin:hover>.fa-user {
  visibility:hidden;
}
.sh-bin-admins>.admin>.fa-send {
  visibility:hidden;
}
.sh-bin-admins>.admin:hover>.fa-send {
  visibility:visible;
}

.sh-bin-admins>.admin>a{
  text-decoration:none;
}

.sh-bin-admins>.add{
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  height:100%;
  width:100px;
  padding:20px;
  padding-top:10px;
}
