.green-background{
  background-color: rgb(50, 173, 39);
}
.red-background {
  background-color: rgb(173, 50, 39);
}
.orange-background {
  background-color: rgb(255, 175, 36);
}

.transparent-background {
  background-color: rgba(0,0,0,0);
}
.grey-background {
  background-color: rgb(150, 150, 150);
}

.light-blue-background {
  background-color:#cbddff;
}

.blue-background {
  background-color:#3399FF;
}

.purple-background{
  background-color:#EA80FC;
}

.teal-background {
  background-color:#26A69A;
}
