.bigpanel {
  background-color:#fff;
  margin:10px;
}

.bigpanel>.title {
  display:block;
  padding:7px;
  font-size:1.2em;
  width:100%;
  background-color:#2e2e2e;
  color:#cbddff;
  font-weight:700;
}

.panel-content {
  display:block;
  padding:5px;
}

.buttons{
  display:block;
  padding:7px;
  width:100%;
}

.panel {
  position:relative;
  margin: 5px;
  padding:0px;
  color:#2e2e2e;
  border-radius:0px;
  border:none;
  shadow:none;
}
.panel.inside {
  border: 1px solid rgba(0,0,0,0.3);
}

/*------------------------------------------------------*/
/* Titles */

.panel>.title, .panel>.title-small{
  display:block;
  margin:0px;
  width:100%;
  padding:2px;
  padding-left:15px;
  background-color:#2e2e2e;
  color:#cbddff;
}

.panel>.title {
  font-size:20px;
}
.panel>.title-small {
  font-size:13px;
}

.title:hover, .title-small:hover{
  background-color:#1e1e1e;
  color:#fff;
}

.title>span .title-small>span {
  font-size:10px;
  margin:5px;
  float:right;
  visibility:hidden;
}
.title:hover>span .title-small>span{
  visibility:visible;
}

.title>a, .title-small>a {
  text-decoration: none;
  color:#cbddff;
}
.title>a, .title-small>a {
  text-decoration: none;
  color:#cbddff;
}
.title>a:hover, .title-small>a:hover {
  text-decoration: none;
  color:#baccdd;
}

/* Titles for panel inside panels */
.panel.inside>.title-small, .panel.inside>.title{
  background-color:#3399FF !important;
  color:#fff !important;
}

/*------------------------------------------------------*/
/* Info : text outside the panel */

.content>.infos {
  display:inline-block;
  width:70%;
}
.panel>.info-right {
  transform : rotate(90deg);
  position:absolute;
  height:20px;
  width: 120px;
  top:50px;
  right:-70px;
}
.panel>.info-left {
  transform : rotate(90deg);
  position:absolute;
  height:20px;
  width: 120px;
  top:50px;
  left:-70px;
}

/*------------------------------------------------------*/
/* Content */
.panel>.content {
  display:block;
  position:relative;
  padding:5px;
}

/*------------------------------------------------------*/
/* Minipane */

.minipane {
  text-align:center;
  position:absolute;
  font-weight:700;
  color:#fff;
}
.minipane>span {
  font-size:10px;
}
.minipane>.title {
  display:block;
  font-size:10px;
  top:0px;
  left:0px;
  width:100%;
  background-color:#2e2e2e;
  color:#cbddff;
  font-weight:500;
}

/*------------------------------------------------------*/
/* Pill */
.pill {
  padding:3px;
  font-size:12px;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius:2px;
  background-color: rgba(0,0,0,0.3);
  color:#fff;
}
.pill>a {
  color: #fff;
}

.pill>i{
  color:#BF360C;
  font-weight:bold;
  padding-left:5px;
}
