.title:hover{
  background-color:#1e1e1e;
  color:#fff;
}

.title>span {
  font-size:10px;
  margin:5px;
  float:right;
  visibility:hidden;
}
.title:hover>span{
  visibility:visible;
}
.content>.infos {
  display:inline-block;
  width:70%;
}
.content>.edit-infos {
  display:inline-block;
  width:50%;
}
.amount-requested {
  display:inline-block;
  padding:5px;
  font-size:30px;
  border-right: 1px solid rgba(0,0,0,0.15);
}
.budget-summary {
  display:inline-block;
  padding:5px;
  font-size:15px;
  height:100%;
  border-right: 1px solid rgba(0,0,0,0.15);
}
.minititle {
  display:block;
  font-size:10px;
  background-color:#2e2e2e;
  color:#cbddff;
  padding:2px;
  width:100%;
}
.budget-summary>span {
  display:block;
  font-size:10px;
  padding:2px;
  width:100%;
}
.content>.granted-amount {
  display:inline-block;
  width:29%;
}
.content>.requested-amount {
  display:inline-block;
  width:39%;
}

.content>.granted-amount>.form-group .content>.requested-amount>.form-group {
  margin-bottom:5px;
}
.content>.purpose {
  width:100%;
  padding:5px;
}
.content>.granted-amount>.form-group> label {
  font-size:1em;
  font-weight:500;
}
.sh-bin-stats:hover{
  -webkit-filter:brightness(0.7);
}
.sh-bin-stats>.message{
  color:#fff;
  position:absolute;
  top:40px;
  left:100px;
  margin:auto;
  background-color:#2e2e2e;
  padding:5px;
  border-radius:4px;
  z-index:1000;
  visibility:hidden;
}
.sh-bin-stats:hover>.message{
  visibility : visible;
}
#granted {
  left:1%;
  top:5px;
  height:40px;
  width:48%;
  background-color:#AA00FF;
}

#used {
  left:51%;
  top:5px;
  height:40px;
  width:48%;
  background-color:#3E2723;
}

#wave-owner-subsidy{
  height:50px;
}

#current-term {
  height:115px;
}

#previous-term {
  height:115px;
  -webkit-filter: sepia(0.6);
}

.panel>.content {
  position:relative;
}


#description>div>::-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
  opacity:  0.7;
}
#description>div>:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
  opacity:  0.7;
}
#description>div>::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  opacity:  0.7;
}
#description>div>:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #fff;
  opacity:  0.7;
}

/* --------------------------------------------------------------------------*/
/* Request index */

#request-count{
  width:100%;
  display:table;
}
#request-count>span{
  display:table-cell;
  width:30%;
  text-align:center;
}

#amounts {
  position:relative;
  height:50px;
  width:100%;
}

#total{
  height:40px;
  width:30%;
  background-color:#3399FF;
  color:#fff;
  top:5px;
  left:0px;
}
#use{
  height:40px;
  width:30%;
  background-color:#795548;
  color:#fff;
  top:5px;
  left:35%;
}
#requested{
  height:40px;
  width:30%;
  background-color:#9E9E9E;
  color:#fff;
  top:5px;
  left:70%;
}

.panel>.title-small{
  background-color:#B0BEC5;
  color:#000;
}
.title-small>a{
  color:#2e2e2e;
}
.title-small>a:hover{
  color:#000;
}

.state-indicator{
  position:absolute;
  display:inline-block;
  padding:5px;
  padding-left:0px;
  padding-right:0px;
  margin:-5px;
  width:20px;
  text-align:center;
}

.request-infos{
  display:table;
  margin-left:20px;
  width:100%;
}

.request-infos>span{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  width:30%;
  border-left:1px solid rgba(0,0,0,0.3);
}

.panel.subsidies {
  margin-top:10px;
  margin-left:-5px;
  margin-right:-5px;
  margin-bottom:-5px;
  font-size:11px;
}

.subsidy {
  display:table;
  width:100%;
}

.subsidy>span{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  width:30%;
}

.actions {
  position:absolute;
  top:0px;
  right:0px;
}
.action-on-request {
  position:relative;
  max-width:120px;
  font-size:10px;
  padding:4px;
  margin-left:5px;
}
