/* Show CSS */
/* Theme colors :
#2e2e2e Dark grey
#3399FF Blue
#cbddff Light blue
*/

#page-wrapper {
  height: 100vh;
}

.show-container {
  position: relative;
  width:auto;
  margin: auto;
  color: #2e2e2e;
}

.sh-title {
  height: 130px;
  margin: 5px;
  background-color: #cbddff;
}

.sh-title>.logo {
  padding: 30px;
  display: inline-block;
  width:130px;
  vertical-align: text-bottom;
}

.sh-title>.text {
  display: inline-block;
}

.sh-title>.text>.main {
  font-size: 30px;
  display: block;
  padding: 5px;
  /*Limit size*/
  overflow: hidden;
  max-width: 240px;
  max-height: 70px;
}
.sh-title>.text>.sub {
  display: block;
  padding: 5px;
  overflow: hidden;
  max-width:240px;
  max-height: 40px;
}


@media(min-width:543px){
  .show-container {
    position: relative;
    width:543px;
    margin: auto;
  }

  #page-wrapper{
    background: -webkit-radial-gradient(#fff,#ccc); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#fff,#ccc); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#fff,#ccc); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#fff,#ccc); /* Standard syntax */
    background-size: cover;
  }

  .sh-title>.text>.main {
    max-width: 384px;
    max-height: 70px;
  }
  .sh-title>.text>.sub {
    max-width: 384px;
    max-height: 30px;
  }
}
