/* Show CSS */
/* Operation */
/* Theme colors :
#2e2e2e Dark grey
#ea8939 Orange
#87cefa Light blue
*/
.show-container {
  position: relative;
  width:auto;
  margin: auto;
  color: #2e2e2e;
}

@media(min-width:543px){
  .show-container {
    position: relative;
    width:543px;
    margin: auto;
  }
}
