.sh-bu-ratio {
  display: table;
  height: 50px;
  font-size: 20px;
  width: 98%;
  margin: 5px;
  background-color:#cbddff;
}

.sh-bu-ratio>.header {
  text-indent: 15px;
  background-color: #2e2e2e;
  color: #cbddff;
}

.sh-bu-ratio>div>.used {
  display: inline-block ;
  text-align: center;
  background-color: #3399FF;
}
.sh-bu-tags {
  margin: 5px;
  padding: 10px;
  min-height: 30px;
  background-color: #cbddff ;
}
