.sh-op-amount {
  margin:5px;
  height:100px;
  padding : 20px;
  background-color: #3399FF;
  /* Text properties */
  font-size: 40px;
  text-align: center;
  overflow: hidden;
}

.sh-op-refs {
  margin: 5px;
  height: 100px;
  padding: 25px;
  background-color: #2e2e2e;
  /* Text properties */
  text-align: center;
  font-size: 15px;
  color:#cbddff;
  overflow: hidden;
}

.sh-op-info {
  height: auto;
  margin: 5px;
  margin-top: 0px;
  padding: 20px;
  background-color: #cbddff;
}

.sh-op-payer {
  height: 100px;
  margin: 5px;
  margin-top: 10px;
  padding: 15px;
  background-color: #3399FF ;
  text-align: center;
  font-size: 50px;
}

@media( min-width:543px){
  .sh-op-title>.text>.binet-name {
    max-width: 384px;
    max-height: 70px;
  }
  .sh-op-title>.text>.binet-year {
    max-width: 384px;
    max-height: 50px;
  }

  .sh-op-amount {
    display:inline-block;
    width:289px;
  }

  .sh-op-refs {
    display: inline-block;
    width:230px;
  }
}
